ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    color: red;
    display: block;
    font-size: 14px;
    margin: 0 0 3px;
    padding: 0px 5px;
}

.marked {background-color: #ffdddd;}
.red {color: red;}
