div.menu{
	background-color: #d6d6d6; margin: 15px; 
    width: 200px; margin: 20px; padding: 20px 10px;
}
ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    color: red;
    display: block;
    font-size: 14px;
    margin: 0 0 3px;
    padding: 0px 5px;
}
label
{
  display: block;
  float: left;
  clear: left;
  text-align: right;
  width: 100px;
}

.marked {background-color: #ffdddd;}
.red {color: red;}
.green {color: green;}
form{
	display: block;
	border: blue 1px solid;
	padding: 5px; 
	width: 300px;
}
