{% extends "base.html" %}
{% load get_edit_url %}

{% block context %}
<ul>
    <li>name: {{ my_data.name }}</li>
    <li>last name: {{ my_data.last_name }}</li>
    <li>birthday: {{ my_data.birthday }}</li>
    <li>bio: {{ my_data.bio }}</li>
    <li>e-mail: {{ my_data.email }}</li>
</ul>

<br />

<div class="some_url">
    <a href="{% get_edit_url my_data %}"> edit my_data object</a>  <br />
    {% if user.is_authenticated %}
    <a href="{% get_edit_url user %}"> edit user object</a>
    {% endif %} 
    </div>
{% endblock %}