{% extends "base.html" %}

{% block title %}LogIn{% endblock %}
{% block extramedia %}
     <script type="text/javascript" src="/media/js/jquery-1.4.2.js"></script>
     <script type="text/javascript" src="/media/js/main.js"></script>
{% endblock %}
{% block loginmenu %}
    <li>login</li>
{% endblock %}

{% block context %}
<form method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}